# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
venv/
env/
.venv/

# Environment
.env
.env.local

# Database
*.db
*.sqlite

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Airflow
logs/
airflow.db

# IDE
.DS_Store
.idea/
*.swp

# Test cache
.pytest_cache/
.coverage
